!!!
html
    head
        title() 薛凯的文章 -
        script(src="//code.jquery.com/jquery-1.10.2.min.js")
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", rel="stylesheet")
        link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")
    body
        div.container
            div!= content