extends layout
block body
    div.container
        div.row
            - if (projects.length)
                - projects.forEach(function(project) {
                    div.col-lg-12.col-md-12.col-sm-12.col-xs-12
                        div
                            h1 #{project.name}
                            div.list-group
                                - project.files.forEach(function(file) {
                                    a.list-group-item(href='/projects/#{file.path}') #{file.name}
                                - })
                - })