.navbar {
    margin-bottom: 0;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #333;
}

iframe {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

#editor {
    font-family: "consolas", Menlo, Monaco, Consolas, 'Courier New', monospace;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
 
#container-code {
    width: 100%;
    font-family: "consolas", Menlo, Monaco, Consolas, 'Courier New', monospace;
    resize: none;
    white-space: pre;
    overflow: scroll;
}