.navbar {
  margin-bottom: 0;
}
#ace-edit {
  width: 100%;
  font-family: "consolas", Menlo, Monaco, Consolas, 'Courier New', monospace;
}
#ace-code {
  width: 100%;
  font-family: "consolas", Menlo, Monaco, Consolas, 'Courier New', monospace;
}
#container-workarea {
  padding-top: 0px;
}
#page-view,
#page-temp {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  height: 100%;
}
:focus {
  outline: none !important;
}
