.navbar {
  margin-bottom: 0;
}
#ace-edit {
  width: 100%;
  line-height: 200%;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace, 'Microsoft Yahei';
}
#ace-code {
  width: 100%;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace, 'Microsoft Yahei';
}
#container-workarea {
  padding-top: 0px;
}
#page-view,
#page-code {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  height: 100%;
}
:focus {
  outline: none !important;
}
.ace_marker-layer .misspelled {
  position: absolute;
  z-index: -2;
  border-bottom: 1px solid red;
  margin-bottom: -1px;
}
.misspelled {
  border-bottom: 1px solid red;
  margin-bottom: -1px;
}
