body {
  max-width: 940px;
  margin: 0px auto 0px auto;
  padding: 0px 20px 50px 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft Yahei", "Simsun";
  font-size: 14px;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0px 5px 0px;
  padding: 0px 0px 5px 0px;
  font-weight: bold;
  color: black;
}
h1 {
  font-size: 28px;
  margin-top: 56px;
  border-bottom: 1px solid #cccccc;
}
h2 {
  font-size: 24px;
  margin-top: 48px;
  border-bottom: 1px solid #cccccc;
}
h3 {
  font-size: 18px;
  margin-top: 36px;
}
h4 {
  font-size: 16px;
  margin-top: 32px;
}
h5 {
  font-size: 14px;
  margin-top: 28px;
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft Yahei", "Simsun";
  font-size: 14px;
  line-height: 25px;
}
ul,
ol {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft Yahei", "Simsun";
  font-size: 14px;
  line-height: 25px;
}
ul li,
ol li {
  font-size: 14px;
  line-height: 25px;
}
pre {
  background-color: #F8F8F8;
  padding: 5px;
  margin: 15px auto;
  border: 1px solid #ddd;
  overflow: auto;
  border-radius: 3px;
}
pre code {
  border: none;
  border-radius: 0px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  line-height: 25px;
}
code {
  background-color: #F8F8F8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  line-height: 25px;
  padding: 2px 5px;
}
table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft Yahei", "Simsun";
  font-size: 14px;
}
table td {
  padding: 5px 10px;
}
a,
a code {
  color: #4183C4;
  text-decoration: none;
}
a:hover,
a code:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  display: block;
  border-top: 1px solid red;
}
p img {
  display: inline;
  border: none;
}
blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
  background-color: #f8f8f8;
}
hr {
  height: 1px;
  border: none;
  border-top: 1px solid #555555;
}
