//@import "normalize.less";
@body-max-width: 940px;
@base-font-size: 14px;
@base-line-height: 25px;
@base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft Yahei", "Simsun";

@code-font-size: 12px;
@code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

@paragraph-margin: 14px;
@paragraph-indent: 2em;

body {
    margin: 0px auto 0px auto;
    padding: 20px 20px 50px 20px;
    max-width: @body-max-width;
    background-color: white;
    font-size: @base-font-size;
    font-family: @base-font-family;
    & > *:first-child {
        margin-top: 0 !important;
    }
}

.heading(@font-size) {
    margin-top: @font-size * 2;
    font-size: @font-size;
    line-height: @font-size;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0px 5px 0px;
    padding: 0px 0px 5px 0px;
    color: black;
    font-weight: bold;
}

h1 {
    .heading(36px);
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid #cccccc;
}

h2 {
    .heading(28px);
    border-bottom: 1px solid #cccccc;
}

h3 {
    .heading(22px);
}

h4 {
    .heading(18px);
}

h5 {
    .heading(16px);
}

h6 {
    .heading(14px);
}

p {
    margin: @paragraph-margin 0px;
    text-indent: @paragraph-indent;
    font-size: @base-font-size;
    font-family: @base-font-family;
    line-height: @base-line-height;
}

ul, ol {
    margin: @paragraph-margin 0px;
    padding-left: @paragraph-indent + 2em;
    font-size: @base-font-size;
    font-family: @base-font-family;
    line-height: @base-line-height;
    li {
        margin: @paragraph-margin / 2 0px;
        font-size: @base-font-size;
        line-height: @base-line-height;
    }
}

pre {
    overflow: auto;
    margin: 15px 0px;
    margin-left: @paragraph-indent;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #F8F8F8;
    code {
        padding: 0px;
        border: none;
        border-radius: 0px;
        font-size: @code-font-size;
        font-family: @code-font-family;
        line-height: @base-line-height;
    }
}

code {
    padding: 2px 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #F8F8F8;
    font-size: @code-font-size;
    font-family: @code-font-family;
    line-height: @base-line-height;
}

blockquote {

}

table {
    font-size: @base-font-size;
    font-family: @base-font-family;
    padding: 0;
    margin: 20px auto;
    width: 90%;
    border-collapse: collapse;
    tr {
        background-color: #fff;
        border-top: 1px solid #ccc;
        &:nth-child(2n) {
            background-color: #f8f8f8;
        }
        th {
            font-weight: bold;
        }
        th, td {
            text-align: center;
            border: 1px solid #ccc;
            margin: 0;
            padding: 6px 13px;        
        }
    }
}


a, a code {
    color: #4183C4;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    border: none;
}

em {
    text-decoration: underline;
    font-style: normal;
}

blockquote {
    padding: 10px 2em;
    border-left: 4px solid #dddddd;
    background-color: #f8f8f8;
    color: #777777;
}

hr {
    height: 1px;
    border: none;
    border-top: 1px solid #555555;
}

iframe {
    display: block;
    margin: auto;
    border: 1px solid black;
}