extend layout
block files-css
    link(rel='stylesheet', href='./vendor/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='http://cdn.bootcss.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet', href='./css/main.css')
block files-js
    script(src='http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js')
    script(src='./vendor/bootstrap/bootstrap.js')
    script(src='http://cdn.bootcss.com/bootbox.js/4.0.0/bootbox.min.js')

    script(src='http://cdn.bootcss.com/ace/1.1.01/ace.js')
    script(src='http://cdn.bootcss.com/ace/1.1.01/theme-twilight.js')
    script(src='http://cdn.bootcss.com/ace/1.1.01/worker-javascript.js')
    //- script(src="./vendor/typo/typo.js")
    //- script(src="./vendor/ace/ace-spellcheck.js")

    //- link(rel='stylesheet', href='http://cdn.bootcss.com/highlight.js/7.4/styles/default.min.css')
    script(src='http://cdn.bootcss.com/highlight.js/7.4/highlight.min.js')
        
    script(src='http://cdn.bootcss.com/underscore.js/1.5.2/underscore-min.js')
    script(src='http://cdn.bootcss.com/underscore.string/2.3.3/underscore.string.min.js')
    script(src='http://cdn.bootcss.com/klass/1.0/klass.js')
    //- Mousetrap for shortcuts
    script(src="http://cdn.bootcss.com/mousetrap/1.4.5/mousetrap.js")
    script(src="./vendor/mousetrap-global-bind.js")
    //- PNotify for information prompt
    script(src="http://cdn.bootcss.com/bootstrap-growl/1.0.0/jquery.bootstrap-growl.js")

    //- Select control theme
    link(href="./vendor/bootstrap/bootstrap-select.css", rel="stylesheet")
    script(src="./vendor/bootstrap/bootstrap-select.js")

    script(src="http://cdn.bootcss.com/angular.js/1.2.1/angular.js")
    //-script(src="./vendor/angular-strap.js")

    script(src='./vendor/when.js')
    script(src='./vendor/marked.js')
    script(src='./vendor/beautify/beautify-html.js')
    script(src='./js/core.js')
    script(src='./js/service-window.js')
    script(src='./js/service-histories.js')
    script(src='./js/service-settings.js')
    script(src='./js/model.js')
    script(src='./js/view.js')
    script(src='./js/controller.js')
    script(src='./js/controller-editor.js')
    script(src='./js/application.js')
block content
    div(ng-controller='editorController')
        div.navbar.navbar-default.navbar-static-top(role='navigation')
            div.navbar-header
                a.navbar-brand(data-toggle='modal', data-target='#modal-about', href='javascript:;') MarkdownEditor.js
            div.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | File&nbsp;
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href='javascript:;', ng-click='init()') New
                            li
                                a(href='javascript:;', ng-click='open()') Open
                            li
                                a(href='javascript:;', ng-click='save()') Save
                            li
                                a(href='javascript:;', ng-click='saveas()') Save As
                    li#list-histories.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Histories&nbsp;
                            b.caret
                        ul.dropdown-menu(ng-controller='historiesController')
                            li(ng-repeat='history in histories')
                                a(href='javascript:;', ng-click='open(history)') {{history}}
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Export&nbsp;
                            b.caret
                        ul.dropdown-menu(ng-controller='ExportController')
                            li
                                a(href='javascript:;', ng-click='toHTML("plain")') HTML Plain
                            li
                                a(href='javascript:;', ng-click='toHTML("styled")') HTML Styled
                            li
                                a(href='javascript:;', ng-click='toHTML("styled2")') HTML Styled+Image
                            li
                                a(href='javascript:;', ng-click='toPDF("styled2")') PDF
                            li
                                a(href='javascript:;') Image
                    li
                        a#button-setting(data-toggle='modal', data-target='#modal-settings', href='javascript:;') Settings
                ul.nav.navbar-nav.navbar-right(style='margin-right:15px;')
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | MODE&nbsp;
                            b.caret
                        ul.dropdown-menu(ng-pane-tabs)
                            li(ng-class='{active:viewPane.selected}')
                                a#button-showview(href='javascript:;', ng-click='selectPane(viewPane)') Preivew
                            li(ng-class='{active:codePane.selected}')
                                a#button-showcode(href='javascript:;', ng-click='selectPane(codePane)') HTML Code
                            li(ng-class='{active:helpPane.selected}')
                                a#button-showhelp(href='javascript:;', ng-click='selectPane(helpPane)') Guide
                            li
                                a#button-hide(href='javascript:;') Turn Off
        div#container-workarea(ng-pane-pages)
            table(cellspacing='0', cellpadding='0', border='0', style='width:100%; height:100%')
                tr
                    td#area-right(style='width:50%')
                        div#ace-edit
                    td#area-left(style='width:50%')
                        iframe#page-view(src='page-view.html', frameborder='no', border='0', ng-show='viewPane.selected')
                        iframe#page-code(src='page-code.html', frameborder='no', border='0', ng-show='codePane.selected')
                        iframe#page-help(src='', frameborder='no', border='0', ng-show='false')
                            
        div.hide
            input#dialog-open(type='file')
            input#dialog-save(type='file', nwsaveas)
        div#container-modals
            include partial-about
            include partial-settings
