script(src='./js/splash.js')
script(src='./vendor/jquery/jquery.js')
//- Bootstrap base
link(rel='stylesheet', href='./vendor/bootstrap/bootstrap.css')
script(src='./vendor/bootstrap/bootstrap.js')
//- Easy Modal tool
script(src='./vendor/bootstrap/bootbox.min.js')
//- Notify for information prompt
script(src="./vendor/bootstrap/jquery.bootstrap-growl.js")
//- Select control theme
link(href="./vendor/bootstrap/bootstrap-select.css", rel="stylesheet")
script(src="./vendor/bootstrap/bootstrap-select.js")
script(src="./vendor/bootstrap/twitter-bootstrap-hover-dropdown.js")
//- Editor
script(src='./vendor/ace/ace.js')
script(src='./vendor/ace/theme-twilight.js')
script(src='./vendor/ace/worker-javascript.js')
//- Spelling check
//script(src="./vendor/typo/typo.js")
//script(src="./vendor/ace/ace-spellcheck.js")
//- Highlight code
//link(rel='stylesheet', href='http://cdn.bootcss.com/highlight.js/7.4/styles/default.min.css')
//script(src='http://cdn.bootcss.com/highlight.js/7.4/highlight.min.js')
//- Underscore utilities
script(src='./vendor/underscore/underscore.js')
script(src='./vendor/underscore/underscore.string.min.js')
//- Mousetrap for shortcuts
script(src="./vendor/mousetrap/mousetrap.js")
script(src="./vendor/mousetrap/mousetrap-global-bind.js")
//- Angular
script(src="./vendor/angular/angular.js")
//script(src="./vendor/angular/angular-strap.js")
//- Format code
script(src='./vendor/beautify/beautify-html.js')
//- Core modules
script(src='./vendor/core/klass.js')
script(src='./vendor/when.js')
script(src='./vendor/marked.js')
//- Application libs
link(rel='stylesheet', href='./css/main.css')
script(src='./js/core.js')
script(src='./js/service-window.js')
script(src='./js/service-settings.js')
script(src='./js/services.js')
script(src='./js/view.js')
script(src='./js/view-dialog.js')
script(src='./js/directives.js')
script(src='./js/controllers.js')
script(src='./js/controller-editor.js')
script(src='./js/application.js')