extend layout
block files-css
    link(rel='stylesheet', href='./css/style-default.css')
    //link(rel='stylesheet', href='./css/theme-github.css')
block files-js
    script(src='./vendor/jquery/jquery.js')
    script(src="./vendor/mousetrap/mousetrap.js")
    script(src="./vendor/mousetrap/mousetrap-global-bind.js")
    script(src='./js/page-view.js')
block content