extend layout
block files-css
    //- http://softwaremaniacs.org/blog/2011/05/22/highlighters-comparison/
    link(rel='stylesheet', href='./css/page-code.css')
block files-js
    script(src='./vendor/jquery/jquery.js')
    script(src="./vendor/mousetrap/mousetrap.js")
    script(src="./vendor/mousetrap/mousetrap-global-bind.js")
    script(src='./js/page-view.js')
block content
    pre
        code