extend layout
block files-css
block files-js
    script(src='./vendor/jquery/jquery.js')
    script(src="./vendor/mousetrap/mousetrap.js")
    script(src="./vendor/mousetrap/mousetrap-global-bind.js")
    script(src='./js/page-view.js')
block content