div#modal-about.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title About MarkdownEditor.js
            div.modal-body
                p Author
                p
                    a(href='https://github.com/constantinexue') ConstantineXue
                div.panel.panel-default
                    div.panel-heading
                        | Dependencies
                    div.panel-body
                        - each val, key in about.dependencies
                            p
                                a(target='_system', href='#{val}') #{key}
                div.panel.panel-default
                    div.panel-heading
                        | References
                    div.panel-body
                        - each val, key in about.references
                            p
                                a(target='_system', href='#{val}') #{key}
            div.modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') OK