div#modal-settings.modal(tabindex='-1', role='dialog', aria-hidden='true', data-backdrop='static')
    div.modal-dialog(ng-controller='settingsController')
        div.modal-content
            div.modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Settings
            div.modal-body
                ul.nav.nav-tabs
                    li.active
                        a(href='#settings-general', data-toggle='tab') General
                    li
                        a(href='#settings-markdown', data-toggle='tab') Shortcuts
                div.tab-content
                    div#settings-general.tab-pane.in.active
                        br
                        form.form-horizontal(role='form')
                            div.form-group
                                label.col-sm-3.control-label Editor Theme
                                div.col-sm-9
                                    select.form-control.selectpicker(ng-model='settings.editor.theme')
                                        - each theme in ace.themes
                                            option #{theme}
                            div.form-group
                                label.col-sm-3.control-label Editor Font Size
                                div.col-sm-9
                                    select.form-control.selectpicker(ng-model='settings.editor.fontSize', integer)
                                        option 12
                                        option 14
                                        option 16
                                        option 18
                    div#settings-markdown.tab-pane
                        br
                        form.form-horizontal(role='form')

            div.modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') OK