extend layout
block files-css
    link(href='http://cdn.bootcss.com/normalize/2.1.3/normalize.css', rel='stylesheet')
    link(href='http://cdn.bootcss.com/highlight.js/7.4/styles/default.min.css', rel='stylesheet')
    link(href='./css/htmlcode.css', rel='stylesheet')
block files-js
    script(src='http://cdn.bootcss.com/highlight.js/7.4/highlight.min.js')
    script(src='./js/htmlcode.js')
block content
    pre.xml: code