extend layout
block files-css
    link(rel='stylesheet', href='http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://cdn.bootcss.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel="stylesheet", href="http://cdn.bootcss.com/highlight.js/7.4/styles/default.min.css")
    link(rel='stylesheet/less', href='./css/main.less')
block files-js
    script(src='http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='http://cdn.bootcss.com/bootbox.js/4.0.0/bootbox.min.js')
    script(src='http://cdn.bootcss.com/ace/1.1.01/ace.js')
    script(src='http://cdn.bootcss.com/ace/1.1.01/theme-twilight.js')
    script(src='http://cdn.bootcss.com/ace/1.1.01/worker-javascript.js')
    script(src="http://cdn.bootcss.com/highlight.js/7.4/highlight.min.js")
    script(src="http://cdn.bootcss.com/underscore.js/1.5.2/underscore-min.js")
    script(src="http://cdn.bootcss.com/underscore.string/2.3.3/underscore.string.min.js")
    script(src="http://cdn.bootcss.com/klass/1.0/klass.js")
    script(src='./vendor/when.js')
    script(src='./vendor/marked.js')
    script(src='./vendor/beautify-html.js')
    script(src='./js/core.js')
    script(src='./js/model.js')
    script(src='./js/view.js')
    script(src='./js/controller.js')
    script(src='./js/application.js')
block content
    div
        div.navbar.navbar-inverse.navbar-static-top(role='navigation')
            div.navbar-header
                a.navbar-brand(data-toggle='modal', data-target='#myModal', href='javascript:;') MarkdownEditor.js
            div.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | File&nbsp;
                            b.caret
                        ul.dropdown-menu
                            li
                                a#button-new(href='javascript:;') New
                            li
                                a#button-open(href='javascript:;') Open
                            li
                                a#button-save(href='javascript:;') Save
                            li
                                a#button-saveas(href='javascript:;') Save As
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Export&nbsp;
                            b.caret
                        ul.dropdown-menu
                            li
                                a#button-export-html-plain(href='javascript:;') HTML Plain
                            li
                                a#button-export-html-folder(href='javascript:;') HTML Folder
                            li
                                a#button-export-html-combined(href='javascript:;') HTML Combined
                            li
                                a#button-export-html-allinone(href='javascript:;') HTML AllInOne
                            li.divider
                            li
                                a(href='javascript:;') Export to PDF
                    li
                        a#button-setting(href='javascript:;') Settings
                ul.nav.navbar-nav.navbar-right(style='margin-right:15px;')
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | MODE&nbsp;
                            b.caret
                        ul.dropdown-menu
                            li
                                a#button-showview(href='javascript:;') Preivew
                            li
                                a#button-showcode(href='javascript:;') HTML Code
                            li
                                a#button-showhelp(href='javascript:;') Guide
                            li
                                a#button-hide(href='javascript:;') Turn Off
    div#container-workarea
        table(cellspacing='0', cellpadding='0', border='0', style='width:100%; height:100%')
            tr
                td#area-right(style='width:50%')
                    div#ace-edit
                        
                td#area-left(style='width:50%')
                    iframe#page-view(src='page-view.html', frameborder='no', border='0')
                    div#ace-code
                    div#pane-help
                        
    div.hide
        input#dialog-open(type='file')
        input#dialog-save(type='file', nwsaveas)
    div#container-modals
        div#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4.modal-title About Paclked Petter
                    div.modal-body
                        p Author
                        p
                            a(href='https://github.com/constantinexue') ConstantineXue
                        div.panel.panel-default
                            div.panel-heading
                                | Dependencies
                            div.panel-body
                                p
                                    a(href='#') ACE Editor
                        div.panel.panel-default
                            div.panel-heading
                                | References
                            div.panel-body
                                p
                                    a(href='https://stackedit.io/') StackEditor
                                p
                                    a(href='https://stackedit.io/') StackEditor
                                p
                                    a(href='https://stackedit.io/') StackEditor
                                p
                                    a(href='https://stackedit.io/') StackEditor
                    div.modal-footer
                        button.btn.btn-primary(type='button', data-dismiss='modal') OK
