extend layout
block files-css
    link(href='http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css', rel='stylesheet')
    link(href='http://cdn.bootcss.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    link(href="http://cdn.bootcss.com/highlight.js/7.4/styles/default.min.css", rel="stylesheet")
    link(rel='stylesheet', href='./css/main.css')
block files-js
    script(src='http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='http://cdn.bootcss.com/bootbox.js/4.0.0/bootbox.min.js')
    script(src='http://cdn.bootcss.com/ace/1.1.01/ace.js')
    script(src='http://cdn.bootcss.com/ace/1.1.01/theme-twilight.js')
    script(src='http://cdn.bootcss.com/ace/1.1.01/worker-javascript.js')
    script(src="http://cdn.bootcss.com/highlight.js/7.4/highlight.min.js")
    script(src='./js/client.js')
    script(src='./js/application.js')
block content
    div
        div.navbar.navbar-inverse.navbar-static-top(role='navigation')
            div.navbar-header
                a.navbar-brand(data-toggle='modal', data-target='#myModal', href='javascript:;') MarkdownEditor.js
            div.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a#button-new(href='javascript:;') New
                    li
                        a#button-open(href='javascript:;') Open
                    li
                        a#button-save(href='javascript:;') Save
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Save As
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Save as Markdown
                            li
                                a(href='#') Save as HTML
                            li
                                a(href='#') Save as PDF
                    li
                        a#button-setting(href='javascript:;') Settings
                ul.nav.navbar-nav.navbar-right(style='margin-right:15px;')
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | MODE
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href='#') Preivew
                            li
                                a(href='#') HTML Code
                            li
                                a(href='#') Guide
    div#container-workarea
        table(cellspacing='0', cellpadding='0', border='0', style='width:100%; height:100%')
            tr
                td(style='width:50%')
                    div#ace-edit
                        
                td(style='width:50%')
                    div#ace-code
                        
    div.hide
        input#dialog-open(type='file')
        input#dialog-save(type='file', nwsaveas)
    div#container-modals
        div#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4.modal-title About Paclked Petter
                    div.modal-body
                        p Author
                        p
                            a(href='https://github.com/constantinexue') ConstantineXue
                        div.panel.panel-default
                            div.panel-heading
                                | Dependencies
                            div.panel-body
                                p
                                    a(href='#') ACE Editor
                        div.panel.panel-default
                            div.panel-heading
                                | References
                            div.panel-body
                                p
                                    a(href='https://stackedit.io/') StackEditor
                                p
                                    a(href='https://stackedit.io/') StackEditor
                                p
                                    a(href='https://stackedit.io/') StackEditor
                                p
                                    a(href='https://stackedit.io/') StackEditor
                    div.modal-footer
                        button.btn.btn-primary(type='button', data-dismiss='modal') OK
