extend layout
block files-css
    link(href='http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css', rel='stylesheet')
    link(href='http://cdn.bootcss.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    // <link href="public/css/bootswatch.css" rel="stylesheet" />
    link(rel='stylesheet', href='./css/main.css')
block files-js
    script(src='http://cdn.bootcss.com/jquery-layout/1.3.0-rc-30.79/jquery.layout.min.js')
    script(src='http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js')
    script(src='http://cdn.bootcss.com/ace/1.1.01/ace.js')
    script(src='http://cdn.bootcss.com/ace/1.1.01/theme-twilight.js')
    script(src='http://cdn.bootcss.com/ace/1.1.01/worker-javascript.js')
    script(src='./js/article-edit.js')
block content
    .ui-layout-north
        nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
            .navbar-header
                a.navbar-brand(href='#') Packled Pepper
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a#openButton(href='javascript:;')
                            i.fa.fa-folder-open.fa-fw
                    li
                        a#saveButton(href='javascript:;')
                            i.fa.fa-save.fa-fw
                    li
                        a#button-markdown(href='javascript:;')
                            i.fa.fa-edit.fa-fw
                    li
                        a#button-preview(href='javascript:;')
                            i.fa.fa-eye.fa-fw
                    li
                        a#button-html(href='javascript:;')
                            i.fa.fa-code.fa-fw
                ul.nav.navbar-nav.navbar-right
                    li
                        a#button-setting(href='javascript:;')
                            i.fa.fa-cog.fa-fw
                    li
                        a#button-about(data-toggle='modal', data-target='#myModal', href='javascript:;')
                            i.fa.fa-info-circle.fa-fw
    .ui-layout-center
        #editor
        #container-preview
            iframe#iframe-preview(src='preview.html', frameborder='no', border='0')
        #container-htmlcode
            iframe#iframe-htmlcode(src='htmlcode.html', frameborder='no', border='0')
    .ui-layout-east
        .panel.panel-default
            .panel-heading
                | Attachments
            .panel-body
                | Attachments
    .hide
        input#openFileDialog(type='file', style='display: none;')
        input#saveFileDialog(type='file', nwsaveas='nwsaveas')
    #container-modals
        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4.modal-title About Paclked Petter
                    .modal-body
                        p Author
                        p
                            a(href='https://github.com/constantinexue') ConstantineXue
                        .panel.panel-default
                            .panel-heading
                                | Dependencies
                            .panel-body
                                p
                                    a(href='#') ACE Editor
                        .panel.panel-default
                            .panel-heading
                                | References
                            .panel-body
                                p
                                    a(href='https://stackedit.io/') StackEditor
                                p
                                    a(href='https://stackedit.io/') StackEditor
                                p
                                    a(href='https://stackedit.io/') StackEditor
                                p
                                    a(href='https://stackedit.io/') StackEditor
                    .modal-footer
                        button.btn.btn-primary(type='button', data-dismiss='modal') OK
