extend layout
block files-css
    link(href='http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css', rel='stylesheet')
    link(href='http://cdn.bootcss.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    // <link href="public/css/bootswatch.css" rel="stylesheet" />
    link(rel='stylesheet', href='./css/main.css')
block files-js
    script(src='http://cdn.bootcss.com/jquery-layout/1.3.0-rc-30.79/jquery.layout.min.js')
    script(src='http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js')
    script(src='http://cdn.bootcss.com/bootbox.js/4.0.0/bootbox.min.js')
    script(src='http://cdn.bootcss.com/ace/1.1.01/ace.js')
    script(src='http://cdn.bootcss.com/ace/1.1.01/theme-twilight.js')
    script(src='http://cdn.bootcss.com/ace/1.1.01/worker-javascript.js')
    script(src='./js/client.js')
    script(src='./js/application.js')
block content
    div.ui-layout-north
        div.navbar.navbar-inverse.navbar-static-top(role='navigation')
            div.navbar-header
                a.navbar-brand(href='#') MarkdownEditor.js
            div.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a#button-open(href='javascript:;') Open
                    li
                        a#button-save(href='javascript:;') Save
                    li
                        a#button-markdown(href='javascript:;') Editor
                    li
                        a#button-preview(href='javascript:;') Preview
                    li
                        a#button-html(href='javascript:;') HTML
                ul.nav.navbar-nav.navbar-right
                    li
                        a#button-setting(href='javascript:;') Settings
                    li
                        a#button-about(data-toggle='modal', data-target='#myModal', href='javascript:;') About
    div.ui-layout-center
        div#container-editor
            div#editor
        div#container-preview
        div#container-htmlcode
    div.ui-layout-east
        div.panel.panel-default
            div.panel-heading
                | Attachments
            div.panel-body
                | Attachments
    div.hide
        input#dialog-open(type='file')
        input#dialog-save(type='file', nwsaveas)
    div#container-modals
        div#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4.modal-title About Paclked Petter
                    div.modal-body
                        p Author
                        p
                            a(href='https://github.com/constantinexue') ConstantineXue
                        div.panel.panel-default
                            div.panel-heading
                                | Dependencies
                            div.panel-body
                                p
                                    a(href='#') ACE Editor
                        div.panel.panel-default
                            div.panel-heading
                                | References
                            div.panel-body
                                p
                                    a(href='https://stackedit.io/') StackEditor
                                p
                                    a(href='https://stackedit.io/') StackEditor
                                p
                                    a(href='https://stackedit.io/') StackEditor
                                p
                                    a(href='https://stackedit.io/') StackEditor
                    div.modal-footer
                        button.btn.btn-primary(type='button', data-dismiss='modal') OK
