!!! 5
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title
        block files-css
        script(src="http://cdn.bootcss.com/less.js/1.3.3/less.min.js")
        script(src='http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js')
        block files-js
    body
        block content

