extend layout
block files-css
    link(rel='stylesheet', href='./css/style-default.css')
block files-js
    script(src="http://cdn.bootcss.com/mousetrap/1.4.5/mousetrap.js")
    script(src="./vendor/mousetrap-global-bind.js")
block content