div#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title About Paclked Petter
            div.modal-body
                p Author
                p
                    a(href='https://github.com/constantinexue') ConstantineXue
                div.panel.panel-default
                    div.panel-heading
                        | Dependencies
                    div.panel-body
                        p
                            a(href='#') ACE Editor
                div.panel.panel-default
                    div.panel-heading
                        | References
                    div.panel-body
                        p
                            a(href='https://stackedit.io/') StackEditor
                        p
                            a(href='https://stackedit.io/') StackEditor
                        p
                            a(href='https://stackedit.io/') StackEditor
                        p
                            a(href='https://stackedit.io/') StackEditor
            div.modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') OK